{% extends 'AppGero/padre.html' %}

{% block content %}
    <div class="container px-4 px-lg-5 py-5">
        <header class="mb-4 bg-dark p-4 rounded">
            <h1 class="text-center text-white">Agregar un Nuevo Tutorial</h1>
        </header>

        <main>
            <form action="" method="POST" class="bg-light p-4 rounded shadow">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título:</label>
                    <input type="text" id="titulo" name="titulo" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" rows="3" class="form-control" required></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="contenido" class="form-label">Contenido:</label>
                    <textarea id="contenido" name="contenido" rows="10" class="form-control" required></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="fecha_publicacion" class="form-label">Fecha de Publicación:</label>
                    <input type="date" id="fecha_publicacion" name="fecha_publicacion" class="form-control" required>
                </div>
                
                <button type="submit" class="btn btn-dark w-100">Guardar Tutorial</button>
            </form>
        </main>
    </div>
{% endblock %}
