{% extends 'AppGero/padre.html' %}

{% block content %}
    <div class="container px-4 px-lg-5 py-5">
        <header class="mb-4 bg-dark p-4 rounded">
            <h1 class="text-center text-white">Agregar Herramienta</h1>
        </header>

        <main>
            <form action="" method="POST" class="bg-light p-4 rounded shadow">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre de la herramienta" required>
                </div>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Breve descripción de la herramienta" rows="4" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="url" class="form-label">URL:</label>
                    <input type="url" id="url" name="url" class="form-control" placeholder="https://ejemplo.com" required>
                </div>

                <button type="submit" class="btn btn-success w-100">Agregar Herramienta</button>
            </form>
        </main>
    </div>
{% endblock %}
