{% extends 'AppGero/padre.html' %}

{% block content %}
    <div class="container px-4 px-lg-5 py-5">
        <header class="mb-4 bg-dark p-4 rounded">
            <h1 class="text-center text-white">Comunidad</h1>
        </header>

        <main>
            <h2 class="text-dark mb-3">Bienvenido a la Comunidad</h2>
            <p class="lead">Aquí puedes interactuar con otros miembros, hacer preguntas y compartir tus conocimientos.</p>

            <div class="mb-4">
                <h3 class="text-dark">Últimas Preguntas</h3>
                <ul class="list-group">
                    {% for pregunta in preguntas %}
                        <li class="list-group-item mb-3">
                            <strong>{{ pregunta.titulo }}</strong><br>
                            <p>{{ pregunta.contenido }}</p>
                            <a href="{% url 'detalle_pregunta' pregunta.id %}" class="btn btn-outline-success btn-sm">Leer más</a>
                        </li>
                    {% empty %}
                        <p>No hay preguntas disponibles en este momento.</p>
                    {% endfor %}
                </ul>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">Participa en la Comunidad</h3>
                {% if user.is_authenticated %}
                <a href="{% url 'crear_pregunta' %}" class="btn btn-warning text-dark">Crear Nueva Pregunta</a>
                {% else %}
                <p class="text-danger">Debes <a href="{% url 'login' %}">iniciar sesión</a> para crear una nueva pregunta.</p>
                {% endif %}
            </div>
        </main>
    </div>
{% endblock %}