{% extends 'AppGero/padre.html' %}

{% block content %}
<h2>Perfil de {{ user.get_full_name }}</h2>

<div style="display: flex; align-items: center; gap: 1rem;">
    {% if user_profile.profile_picture %}
        <img src="{{ user_profile.profile_picture.url }}" alt="Foto de perfil" style="width: 100px; height: 100px; border-radius: 50%;">
    {% else %}
        <p>No hay foto de perfil</p>
    {% endif %}
    <p>{{ user_profile.nombre }} {{ user_profile.last_name }}</p>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Actualizar Perfil</button>
</form>
{% endblock %}

