<h2>{{ user.username }}'s Profile</h2>
<img src="{{ user.userprofile.photo.url }}" alt="Profile Photo">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Profile</button>
</form>

<h3>Your Activities:</h3>
<h4>Tutorials</h4>
<ul>
    {% for tutorial in tutorials %}
        <li>{{ tutorial.title }}</li>
    {% endfor %}
</ul>

<h4>Articles</h4>
<ul>
    {% for article in articles %}
        <li>{{ article.title }}</li>
    {% endfor %}
</ul>

<h4>Community Posts</h4>
<ul>
    {% for post in community_posts %}
        <li>{{ post.title }}</li>
    {% endfor %}
</ul>
